<div class="row">
    <div class="col-5 offset-4">

        <div class="alert alert-danger" role="alert">
            <h5 class="alert-heading">
                <%= err.message %></h5>
            <%if(process.env.NODE_ENV!=="production"){%>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
            <%}%>
          </div>
    </div>
</div>